.nosotros-section {
    height: 500px;
    padding: 60% 0;
    background-color: #fff;
}

.nosotros-section h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.nosotros-section img {
    height: 350px;
    object-fit: cover;
}

.carousel-caption h5 {
    font-weight: bold;
}

.carousel-indicators button {
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-inner {
    overflow: hidden;
}

