/* resources/css/social_icons.css */

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    z-index: 1000;
    text-decoration: none;
}

.whatsapp-float:hover {
    background-color: #1ebe5b;
    transform: scale(1.15);
}

/*Social Icons*/

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #444; /* color base */
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Hover por red social */
.social-icons a.facebook:hover {
    background-color: #3b5998;
    transform: scale(1.2);
}

.social-icons a.instagram:hover {
    background-color: #E1306C;
    transform: scale(1.2);
}

.social-icons a.tiktok:hover {
    background-color: black;
    transform: scale(1.2);
}

.social-icons a.whatsapp:hover {
    background-color: #25D366;
    transform: scale(1.2);
}
